/*global*/

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Kalam", cursive;
}
p{
    line-height: 2;
}
h1,h2,h3{
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

/*utilities*/
.container{
    width: 80%;
    margin:0 auto;
}
.btn{
    color:white;
    display:block;
    text-align: center;
    background-color:orange;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
}
/*mobile utilities*/
@media(max-width:768px){
    .container{
        width: 95%;
    }
}
    
/*header*/
.site-header{
    background-image: url(/img/header.jpg);
    background-size: cover;
    height: 300px;
    color: white;
}
.site-header a{
    color: white;
}

/*menu-nav*/
.bar-menu{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.menu a{
    margin-right: 30px;
    }


    /*mobile*/
    @media(max-width:768px){
        .bar-menu{
            flex-direction: column;
            height: 200px;
        }
        .menu{
            display: flex;
            flex-direction: column;
        }
        .menu a{
            margin-bottom: 20px;
            text-align: center;
        }
    }
/*about*/
.about-container{
    display: flex;
    justify-content: space-between;
}
.about-item{
    margin-right:30px ;
}
/*about mobile*/
@media(max-width:768px){
    .about-container{
        flex-direction: column;
    }
    .about-item{
        margin-right: 0;
    }
    .about-item h3{
        text-align: center;
    }
    .about-item img{
        display: block;
        margin: 20px auto;
    }
    h2{
        text-align: center;
    }
}


/*houses*/

.houses-container{
    display: flex;
}

.houses-item{
    background-color: #dedede;
    margin-right: 10px;
    
}
.houses-item-img{
    width: 100%;
    height: auto;
}
.houses-item-text{
    padding: 20px;
}
.price{
    color: green;
    font-weight: bold;
}
.icon-container{
    display: flex;
}
.icon-container img{
    margin-right: 20px;
    }
.icons-list{
    display: flex;
    justify-content: space-between;
}
/*houses mobile*/
@media(max-width:768px){
    .houses-container{
        flex-direction: column;
    }
    .houses-item{
        margin-right: 0;
        margin-bottom: 30px;
    }
}

/*contact*/
.contact-header{
    background-color: orange;
    color: black;
    height: 150px;
}
.contact-header a{
    color: black;
}

/*form-container*/
.form-container{
    background-color: #dedede;
    padding: 20px;
    border-radius: 10px;
}
legend{
    font-size: 12px;

}
fieldset{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
}
.form-control{
    margin-bottom: 20px;
}
.form-control input,
.form-control textarea{
    border: none;
    width: 70%;
    padding: 5px;
    border-radius: 3px;
}
.form-control label{
    display: inline-block;
    width: 150px;
}

/*product-container*/

.product-container{
    margin-top: 20px;
}
.form-control select{
    width: 600px;
}
.contact-info-container{
    margin-top: 20px;
    
}
/*added css to group email n phone*/
.group1{
    display: flex;
}
.
/*footer*/

footer{
    background-color: #dedede;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    height: 300px;
    align-items: center;
    margin-top: 50px;
}

.icons-container{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50%;
    width: 20px;
    padding: 10px;
    margin-right: 20px;
    }
.privacy-text{
    display: flex;
}
    .privacy-text p:last-of-type{
        border-left: 2px solid black;
        padding-left: 10px;
        margin-left: 10px;
        text-decoration: underline;
        font-weight: 900;
    }
    
    /*contact-title*/
    .contact-title{
        text-align: center;
    }
    .contact-title p:first-of-type{
        font-weight: 900;
    }

    /*blog*/
    .blog-header{
        font-size: larger;
        background-size: cover;
        color: white;
        height: 150px;
        background-image:url(/img/highlight.jpg)   
                 
    }
    .blog-header a{
        color: white;
    }
    /*main*/

    .container h2{
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        
    }
    body{
        background-color: burlywood;
    }
    .blog-item{
        text-align: center;
        margin-right: 20px;
    
    }
    
    .blog-images{
        display: flex;         
    }
    .pic-group{
    }
    section h2{
        color: rgb(7, 30, 179);
        margin-bottom: 60px;
    }

    /*blog section*/
    .key-list{
        color: rgb(7, 30, 179);
        font-size: 14px;
        margin-bottom: 20px;
        margin-top: 10px;
    }